service ril-daemon /vendor/bin/hw/rild -l /vendor/lib64/libreference-ril-ec20.so
    class main
    user root
    group radio cache inet misc audio sdcard_rw log
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW
